.work{
    margin: 0 3em;

    .work-img{
        margin: 1.5em;
        width: 25%;
        height: 10em;
      
        border: .1em solid black;
        background-color: rgb(216, 211, 211);
      }
  }