.experience .exp-group {
  margin: 1.5em;
  width: 40%;
  height: 10em; }

.experience .exp-group .exp-company {
  width: 100%;
  font-size: 3em; }

.experience .exp-group img {
  float: right;
  margin-top: .5em;
  width: 5%;
  height: 5%; }

.experience .exp-group .exp-description {
  border-top: 0.1em solid black;
  padding-top: 0.75em;
  margin-top: .5em; }
