.about .about-img {
  background-color: grey;
  margin: 1em 0;
  width: 45%;
  height: 15em;
  padding: 2em;
  border: .1em solid black; }

.about .about-description {
  margin: 1em 0;
  width: 45%;
  height: 15em;
  padding: 2em;
  border: .1em solid black; }

.about .summary {
  margin: 1em 0;
  width: 75%;
  height: 15em;
  border: .1em solid black;
  background-color: #d8d3d3; }
