@import "utilities/utilities";
@import "utilities/utilities_text_utilities";
@import "utilities/utilities_basic_decoration";

section{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5em;
    input{
        width: 100%;
        height: 5em;
        margin: 1em 0 1em 0;
    }
    .contact-text{
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        .left-contact-text{
            margin: 0;
        }

        h4{
            font-size: 1.1em;
        }

        .right-contact-text-top,
        .right-contact-text-btm{
            margin: 0;
            text-align: right;
        }

        .right-contact-text-top{
            font-size: 2em;
        }
    }
    form{
        // margin-left: 30em;
        width: 85%;
    }
    .message-box{
        height: 25em;
        margin-bottom: 0em;
    }

    .btn{
        @include background_color($dark_orange);
        @include text_color($white);
        @include text_alignment(center);
        width: 10%;
        padding: 1.5em;
        margin: .5em 0 0 60em;
        border-radius: .75em;
        border: none;
    }
}