footer {
  border-top: 0.1em solid black;
  padding-top: 0.75em;
  display: inline-flex;
  width: 100%;
  justify-content: space-around; }
  footer .footer-img {
    width: 5%; }
  footer .footer-text {
    text-align: center;
    margin: auto 0; }
